@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,700&display=swap");

html {
  overflow-x: hidden !important;
}

body {
  font-family: "Poppins", sans-serif !important;
  background: #fcfcfc !important;
  overflow-x: hidden !important;
}

/* SCROLL TO TOP */
a.btn-scroll-top {
  position: fixed;
  bottom: 2rem;
  right: 0;

  color: #f1f1f1 !important;
  background: #031e54;
  padding: 1rem 1.25rem !important;
  z-index: 999 !important;
}

/* BS4 OVERRIDES */
input:focus {
  box-shadow: none !important;
}

/* CUSTOM INPUTS */
.input-box {
  max-width: 100%;
  min-width: 100%;
  margin: 0;
  margin-bottom: .75rem;
  padding: .4rem 0 !important;
}

.input-box label.input-label {
  color: #555;
  font-size: .8rem;
  font-weight: 500;
}

.input-box input {
  color: #444 !important;
  width: 100%;
  padding: .45rem 0;
  border: 0 !important;
  border-bottom: solid 1px #ddd !important;
  border-radius: 0 !important;
  font-size: .8rem !important;
  font-weight: 500;
  transition: .3s ease !important;
}

.input-box input::placeholder {
  color: #999 !important;
}

.input-box input:focus {
  outline: none !important;
  border-bottom: solid 1px #1741EB !important;
}

/* TEXT SIZE */
.text-sm {
  font-size: 0.8rem !important;
}

.text-md {
  font-size: 1.35rem !important;
}

/* TEXT COLOR */
.text-custom-dark {
  color: #031b4e !important;
}

/* TEXT LINE HEIGHT */
.lh-1 {
  line-height: 1.6rem !important;
}

/* CUSTOM BACKGROUNDS */
.bg-green {
  background: #81c784 !important;
}

/* CARDS */
.card {
  border-color: #fdfdfd !important;
}

.card>.card-body p {
  color: #444 !important;
}

/* FORMS */
form .btn-submit {
  background: #66BB6A !important;
  border: solid 1px #66BB6A !important;
  transition: .2s ease;
}

form .btn-submit:hover,
form .btn-submit:focus {
  background: #81C784 !important;
  border: solid 1px #81C784 !important;
}

/* MAIN CONTENT */
.main-content {
  min-height: 100vh !important;
  padding-top: 10rem !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.full-height {
  min-height: 100vh !important;
}

.page-header-banner {
  /* position: absolute;
  top: 2rem;
  left: 0;
  right: 0; */

  color: #fff !important;
  background: url('/images/paint_blue_bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55vh;
  width: 100%;
  margin-top: -3rem;
  margin-bottom: 3rem;
}

.page-header-banner .page-header-banner-content {
  width: 100%;
}

.page-header-banner .page-header-banner-content input {
  border: none !important;
  border-radius: .4rem !important;
}

footer {
  color: #eee !important;
  background: #010e28 !important;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

/* NO DATA/SEARCH CONTAINER */
.no-data-found {
  padding: 2rem;
  text-align: center;
}

/* BORDERS */
.border-custom-light {
  border-color: #f0f0f0 !important;
}

/* LOADER CONTAINER */
.loader-container {
  color: #777;
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 0.9rem;
}

/* NAVBAR */
.top-nav {
  color: #f1f1f1 !important;
  background: #010e28 !important;
  padding: 0.1rem 0 !important;
  border-bottom: solid 1px #fafafa !important;
  font-size: 11px !important;
}

.top-nav p.top-nav-text {
  display: none;
}

.top-nav ul>li a {
  color: #f1f1f1 !important;
}

.top-nav ul>li a:hover {
  color: #fff !important;
}

.navbar {
  padding-top: .8rem !important;
  padding-bottom: .8rem !important;
}

.navbar-brand {
  color: #666 !important;
  font-weight: 400;
  font-size: 1rem !important;
}

.navbar .navbar-nav>li a {
  color: #031b4e !important;
  margin-left: 0.6rem;
  margin-right: 0.6rem;
  font-size: 12px !important;
  font-weight: lighter !important;
}

.navbar .navbar-nav>li a.active,
.navbar .navbar-nav>li a:hover {
  color: #0069ff !important;
}

.navbar .navbar-nav>li a.nav-link-fill {
  color: #fff !important;
  background: #0069ff !important;
  border-color: #0069ff !important;
  border-radius: 0.2rem;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
  font-weight: 600;
}

/* MEDIA QUERIES */
@media (max-width: 768px) {

  /* TOP NAV */
  .top-nav {
    background: #010e28 !important;
    padding: 0.5rem !important;
  }

  .top-nav .container {
    display: none !important;
  }

  .top-nav p.top-nav-text {
    color: #f1f1f1 !important;
    display: block;
    margin-bottom: 0;
    text-align: center;
  }

  /* NAVBAR */
  .navbar .navbar-brand {
    font-size: 1.5rem !important;
  }

  /* MAIN CONTENT */
  .main-content {
    padding-top: 8rem !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }

  /* ASSESSMENT TESTS LIST */
  .assessment-test-card p.assessment-test-description {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 12px !important;
  }
}
