/* CUSTOM BUTTON (BS4) */
.btn-light {
	color: #888 !important;
	background: #eee !important;
	border: solid 1px #eee;
}

/* TEXT */
.text-sm {
	font-size: .8rem !important;
}

/* PAGE CONTENT */
.full-height {
	min-height: 100vh !important;
}

.page-content {
	padding-top: 7rem !important;
}

.page-title {
	color: #777 !important;
	font-weight: bolder;
}

/* TABLE */
table > thead {
	background: #fff !important;
}

table > thead th {
	color: #777 !important;
	padding: .9rem .7rem !important;
	font-size: .8rem !important;
}

table > tbody tr > td {
	color: #888 !important;
	padding: .7rem !important;
	font-size: .8rem !important;
}

/* PROFILE PICTURE PREVIEW */
.prof-pic-preview {
	height: 150px !important;
	width: 160px !important;
	border: solid 1px #eee;
	border-radius: 50% !important;
	margin: .7rem auto !important
}

/* AVATAR */
.avatar {
	background: #f0f0f0;
	color: #777 !important;
	padding: 4rem 4.5rem !important;
	border: solid 1px #f1f1f1;
	border-radius: 50%;
	text-align: center;
	font-size: 2rem !important;
}


/* SB-ADMIN OVERRIEDS */
.sidebar-container ul#accordionSidebar { min-height: 100vh !important; height: 100% !important; }

/* BS4 OVERRIDES */
.card { border: 0 !important; }